$gray: #b3b3b3;
$blue: #22577a;
$darkgreen: #38a3a5;

body {
  color: $blue;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  position: relative;
}

.hidden {
  max-height: 0;
  opacity: 0;
  transition: max-height ease-out 0.5s, opacity ease 1s 0.2s;
}

header {
  box-shadow: 0 0.02rem 0.02rem $darkgreen;
  text-align: center;

  img {
    height: 5rem;
    padding: 1rem 0;
  }
}

.top-shelf {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.hamburger {
  cursor: pointer;
  height: 2rem;
  position: relative;
  width: 2rem;

  &::before {
    background-color: $darkgreen;
    border-radius: 0.2rem;
    content: "";
    height: 0.3rem;
    left: 0;
    position: absolute;
    top: 0;
    transform-origin: 0 0;
    transition: transform ease-in-out 0.5s;
    width: 2rem;
  }

  &__middle {
    background-color: $darkgreen;
    border-radius: 0.2rem;
    height: 0.3rem;
    left: 0;
    position: absolute;
    top: 0.83rem;
    transition: width ease-in-out 0.5s;
    width: 2rem;
  }

  &::after {
    background-color: $darkgreen;
    border-radius: 0.2rem;
    bottom: 0;
    content: "";
    height: 0.3rem;
    left: 0;
    position: absolute;
    transform-origin: 0 100%;
    transition: transform ease-in-out 0.5s;
    width: 2rem;
  }
}
//----------------- hamburger to X -----------
.hamburger.open {
  &::before {
    transform: rotate(45deg) scaleX(1.25);
    transition: transform ease-in-out 0.5s;
  }
  .hamburger__middle {
    transition: width ease-in-out 0.5s;
    width: 0;
  }
  &::after {
    transform: rotate(-45deg) scaleX(1.25); //translateY(0.025rem)
    transition: transform ease-in-out 0.5s;
  }
}

nav {
  max-height: 20rem;
  opacity: 1;
  overflow: hidden;
  transition: max-height ease-in 0.5s;

  a {
    color: $darkgreen;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
  }

  #logout {
    color: #ff3a3a;
  }
}

.container {
  padding: 0 1.5rem;
}

form {
  margin: 1rem 0;
  .control {
    &:not(:last-child) {
      margin-bottom: 1.8rem;
    }
  }

  input {
    border: none;
    border-bottom: 0.025rem solid $blue;
    box-sizing: border-box;
    width: 100%;

    &::placeholder {
      font-size: 0.7rem;
      opacity: 0.5;
    }

    &:focus {
      outline: none;
    }
  }
}

.btn {
  background-color: $darkgreen;
  border-radius: 1.5rem;
  border: 0.05rem solid $darkgreen;
  color: #fff;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 400;
  margin: 0.5rem 0.25rem;
  padding: 0.5rem 2rem;
  text-transform: uppercase;

  &:hover {
    background-color: $blue;
    border-color: $blue;
    color: #fff;
  }

  &-light {
    background-color: #fff;
    color: $darkgreen;
  }

  &-l {
    font-size: 1rem;
  }

  &-inactive {
    i {
      display: none;
    }
  }

  &-disabled {
    background-color: $gray;
    border-color: $gray;

    &:hover {
      background-color: $gray;
      border-color: $gray;
    }
  }
}

.c-header {
  margin-bottom: 3rem;
}

.cards {
  margin-bottom: 2rem;

  .card {
    border-radius: 2rem;
    border: 0.02rem solid $blue;
    box-sizing: border-box;
    color: $blue;
    margin-bottom: 2rem;
    padding: 1rem 1rem;
    text-align: center;

    h4 {
      font-size: 1.5rem;
      margin: 0.5rem;
    }
  }
}

#docs {
  .card {
    h4 {
      cursor: pointer;

      i {
        font-size: 2rem;
        cursor: pointer;
      }

      span {
        margin-left: 1rem;
      }
    }
  }
}

.not-shown {
  display: none !important;
}

main {
  padding-bottom: 4.5rem;
}

footer {
  bottom: 0;
  color: $blue;
  height: 4.5rem;
  position: absolute;
  text-align: center;
  width: 100%;
}

@media (min-width: 60rem) {
  .container {
    margin: 0 auto;
    max-width: 60rem;
  }

  header {
    .container {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }
  }

  .hamburger {
    display: none;
  }

  .navigation.hidden {
    display: flex;
    max-height: inherit;
    opacity: 1;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;

    .card {
      width: calc(33.33% - 2rem);
    }
  }
}
