body {
  font-family: "Poppins", sans-serif;
  color: #22577a;
}

.hidden {
  opacity: 0;
  max-height: 0;
  -webkit-transition: max-height ease-out 0.5s, opacity ease 1s 0.2s;
  transition: max-height ease-out 0.5s, opacity ease 1s 0.2s;
}

header {
  text-align: center;
  -webkit-box-shadow: 0 0.02rem 0.02rem #38a3a5;
          box-shadow: 0 0.02rem 0.02rem #38a3a5;
}

header img {
  height: 5rem;
  padding: 1rem 0;
}

.top-shelf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hamburger {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  position: relative;
}

.hamburger::before {
  content: "";
  top: 0;
  background-color: #38a3a5;
  width: 2rem;
  height: 0.3rem;
  border-radius: 0.2rem;
  position: absolute;
  left: 0;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: -webkit-transform ease-in-out 0.5s;
  transition: -webkit-transform ease-in-out 0.5s;
  transition: transform ease-in-out 0.5s;
  transition: transform ease-in-out 0.5s, -webkit-transform ease-in-out 0.5s;
}

.hamburger__middle {
  top: 0.83rem;
  background-color: #38a3a5;
  width: 2rem;
  height: 0.3rem;
  border-radius: 0.2rem;
  position: absolute;
  left: 0;
  -webkit-transition: width ease-in-out 0.5s;
  transition: width ease-in-out 0.5s;
}

.hamburger::after {
  content: "";
  bottom: 0;
  background-color: #38a3a5;
  width: 2rem;
  height: 0.3rem;
  border-radius: 0.2rem;
  position: absolute;
  left: 0;
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
  -webkit-transition: -webkit-transform ease-in-out 0.5s;
  transition: -webkit-transform ease-in-out 0.5s;
  transition: transform ease-in-out 0.5s;
  transition: transform ease-in-out 0.5s, -webkit-transform ease-in-out 0.5s;
}

.hamburger.open::before {
  -webkit-transform: rotate(45deg) scaleX(1.25);
          transform: rotate(45deg) scaleX(1.25);
  -webkit-transition: -webkit-transform ease-in-out 0.5s;
  transition: -webkit-transform ease-in-out 0.5s;
  transition: transform ease-in-out 0.5s;
  transition: transform ease-in-out 0.5s, -webkit-transform ease-in-out 0.5s;
}

.hamburger.open .hamburger__middle {
  width: 0;
  -webkit-transition: width ease-in-out 0.5s;
  transition: width ease-in-out 0.5s;
}

.hamburger.open::after {
  -webkit-transform: rotate(-45deg) scaleX(1.25);
          transform: rotate(-45deg) scaleX(1.25);
  -webkit-transition: -webkit-transform ease-in-out 0.5s;
  transition: -webkit-transform ease-in-out 0.5s;
  transition: transform ease-in-out 0.5s;
  transition: transform ease-in-out 0.5s, -webkit-transform ease-in-out 0.5s;
}

nav {
  opacity: 1;
  -webkit-transition: max-height ease-in 0.5s;
  transition: max-height ease-in 0.5s;
  max-height: 20rem;
  overflow: hidden;
}

nav a {
  display: block;
  padding: 0.5rem;
  text-decoration: none;
  color: #38a3a5;
}

nav #logout {
  color: #ff3a3a;
}

.container {
  padding: 0 1.5rem;
}

form {
  margin: 1rem 0;
}

form .control:not(:last-child) {
  margin-bottom: 1.8rem;
}

form input {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  border-bottom: 0.025rem solid #22577a;
}

form input::-webkit-input-placeholder {
  opacity: 0.5;
  font-size: 0.7rem;
}

form input:-ms-input-placeholder {
  opacity: 0.5;
  font-size: 0.7rem;
}

form input::-ms-input-placeholder {
  opacity: 0.5;
  font-size: 0.7rem;
}

form input::placeholder {
  opacity: 0.5;
  font-size: 0.7rem;
}

form input:focus {
  outline: none;
}

.btn {
  background-color: #38a3a5;
  border: 0.05rem solid #38a3a5;
  padding: 0.5rem 2rem;
  border-radius: 1.5rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  cursor: pointer;
  font-size: 0.8rem;
  margin: 0.5rem 0.25rem;
}

.btn:hover {
  color: #fff;
  background-color: #22577a;
  border-color: #22577a;
}

.btn-light {
  color: #38a3a5;
  background-color: #fff;
}

.btn-l {
  font-size: 1rem;
}

.btn-inactive i {
  display: none;
}

.btn-disabled {
  background-color: #b3b3b3;
  border-color: #b3b3b3;
}

.btn-disabled:hover {
  background-color: #b3b3b3;
  border-color: #b3b3b3;
}

.c-header {
  margin-bottom: 3rem;
}

.cards {
  margin-bottom: 2rem;
}

.cards .card {
  border: 0.02rem solid #22577a;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  padding: 1rem 1rem;
  border-radius: 2rem;
  margin-bottom: 2rem;
  color: #22577a;
}

.cards .card h4 {
  font-size: 1.5rem;
  margin: 0.5rem;
}

footer {
  text-align: center;
  color: #22577a;
}

@media (min-width: 60rem) {
  .container {
    max-width: 60rem;
    margin: 0 auto;
  }
  header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hamburger {
    display: none;
  }
  .navigation.hidden {
    opacity: 1;
    max-height: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 2rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .cards .card {
    width: calc(33.33% - 2rem);
  }
}
/*# sourceMappingURL=style.css.map */